.App {
  text-align: center;
  overflow-x: hidden !important;
}

@font-face {
  font-family: "custom-en";
  src: local("Baskerville");
  unicode-range: U+0000-007F; /* 基本拉丁字母 */
}

@font-face {
  font-family: "custom-zh";
  src: local("PolyU Kai"), local("KaiTi");
  unicode-range: U+4E00-9FFF; /* 中文 */
}

.font-enzh {
  font-family: "custom-en", "custom-zh", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.font-mix {
  font-family: Baskerville, serif;
}
.font-mix:lang(zh),
.font-mix:lang(zh-Hant),
.font-mix:lang(zh-Hans) {
  font-family: "PolyU Kai", KaiTi, serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
